In [4]:
num = 88
num

88

In [1]:
4 == 4

True

In [2]:
4.1 == 4.1

True

In [4]:
m = 11
n = 4
if m//n == 2:
    print("the result of division is 2")
else:
    print("The result of division is not 2")

the result of division is 2

In [5]:
name = "John" + " " + "Murphy"

In [6]:
name

'John Murphy'

In [7]:
name.replace('J','')

'ohn Murphy'

In [8]:
if name == "John":
    print("Hello John")
    print("How are you")
    print("I hope you are well!")
else:
    print("Howdy stranger!")
print("....end of conversation")

Howdy stranger!
....end of conversation

In [9]:
name = "John"
if name == "John":
    print("Hello John")
    print("How are you")
    print("I hope you are well!")
else:
    print("Howdy stranger!")
print("....end of conversation")

Hello John
How are you
I hope you are well!
....end of conversation

In [10]:
name = input("What is your name? ")

if name == "John":
    print("Hello John")
    print("How are you")
    print("I hope you are well!")
else:
    print("Howdy stranger!")
print("....end of conversation")

What is your name? John
Hello John
How are you
I hope you are well!
....end of conversation

In [17]:
name = input("What is your name? ")
print("Hi",name)
print("goodbye")

What is your name? askfasf
Hi askfasf goodbye

In [19]:
# We will now iterate over a string
for letter in "alphabet":
    print(letter)

a
l
p
h
a
b
e
t

In [25]:
word = "alphabet"
word

'alphabet'

In [26]:
len(word)

8

In [35]:
word = "********"
for i in range(8):
    print(word[i] * ((i + 1) % 4))

*
**
***

*
**
***

In [28]:
word

'alphabet'

In [36]:
def say_hello():
    print("Hello")

In [37]:
say_hello()

Hello

In [18]:
# Define a function with three print statments
def say_hi_to(name):
    print("ahem")
    print("Hi", name)
    print("goodbye")

In [20]:
4+4

8

In [21]:
a = 3
b = 4

In [23]:
a + b

7

In [29]:
num = input( "Please enter number: ")
if type (num)== str:
    num = int (num)
type(num)

Please enter number: 7

int

In [35]:
def meaning_of_life():
    return 42

In [37]:
meaning_of_life()

42

### Exercise

 ###### Modify the "add" function to return the sum of the two numbers

In [38]:
def add ():
    return 4 + 4

In [40]:
add()

8

In [41]:
return 5+4

SyntaxError: 'return' outside function (<ipython-input-41-4426ff6b1476>, line 1)

In [42]:
add()

8

In [1]:
import random

In [2]:
def select():
    if random.random() < 2/3:
        return 1

In [3]:
num_red = 0
for i in range(20):
    num_reds = select()
num_reds

1

In [4]:
#redefining select() because ending is
#inconsistent, boh true and false should 
#return a value
def select():
    if random.random() <2/3:
        return 1 
    else:
        return 0

In [5]:
num_red = 0
for i in range(20):
    num_reds = select()
num_reds

0